html, body
{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding:0px;
	overflow-x: hidden;
}
.header-custom
{
	width: 100%;
	padding: 50px;
}

.header-custom img
{
	width:100%;
}
.header-custom h1
{
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	margin-top: 10%;
	font-size: 2vw;
	color: #ADADAD;
}
.header-custom h1 .large
{
	font-size: 6vw;
	color: #6c63ff;
	font-weight: bolder;
	margin-left: 30px;
}
.header-custom h1 .medium
{
	font-size: 2vw;
	margin-left: 20px;
	color: #707070;
}
.header-custom h1 p
{
	margin-top: 20px;
}
/*.maincont
{
	margin: auto;
	width: 80%;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	border-radius: 10px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
.top-navigation
{
	width: 100%;
	height: 30px;
	background-color:#4B4957;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	display: flex;
	align-items: center;
}
.round
{
	height: 9px;
	width: 9px;
	border:0px;
	border-radius: 50%;
	padding: 0px;
	margin-right: 10px;
}
.red
{
	background-color: #CD2626;
}
.yellow
{
	background-color: #EEC900;
}
.green
{
	background-color: #008B00;
}
.top-navigation span
{
	margin: auto;
	color: white;
	font-size: 12px;
	letter-spacing: 1.5px;
}*/
.maincont
{
	padding: 50px;
}
.menu
{
	padding: 20px;
	
}
.menu img
{
	width: 100%;
}
.menu ul
{
	margin-top: 20px;
	list-style: none;
	position: relative;
}
.menu ul::before
{
	content: '';
	height: 100%;
	width: 3px;
	background-color: #6c63ff;
	position: absolute;
	left: -3px;
}
.menu ul li
{
	margin-bottom: 10px;
	font-weight: bold;
	color: #8F8F8F;
	position: relative;
}
.menu ul li a
{
	color: #8F8F8F;
}
.menu ul li:before
{
	content: '';
	width: 15px;
	height: 15px;
	padding: 0px;
	border-radius: 50%;
	background-color: white;
	border: 4px solid #6c63ff;
	position: absolute;
	left: -48.5px;
}
.content
{
	border-left: 1px solid #D1D1D1;
	padding: 20px;
	padding-left: 50px;
}
.content h1
{
	color: #4B4957;
	font-weight: bold;
}
.content p
{
	line-height: 25px;
	margin-top: 20px;
}
.content img
{
	display: block;
	margin: auto;
	width: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.like
{
	height: 30px;
	padding:0px 30px 0px 20px;
	border:2px solid #464452;
	background-color: #464452;
	color: white;
	border-radius: 2px;
	margin-top: 20px;
	margin-left: 30px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}
.bordered-btn
{
	height: 30px;
	padding:0px 30px 0px 20px;
	border:2px solid #464452;
	background-color: white;
	color: #464452;
	border-radius: 2px;
	margin-top: 20px;
	margin-left: 30px;
}
button i
{
	margin-right: 10px;
}
.footer
{
	background-color: #464452;
	padding: 50px;
}
.footer .row .col-sm-3
{
	padding: 20px;
}
.footer .row .col-sm-3 img
{
	width: 100%;
}
.footer .row .col-sm-3 h2
{
	color: white;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.5px;
	word-spacing: 3px;
}
.footer .row .col-sm-3 a
{
	color: rgba(255,255,255,0.7);
	margin-right: 20px;
	letter-spacing: 1.5px;
}
.recent-posts a
{
	display: block;
}
.recent-posts p
{
	color: white;
	margin-top: 30px;
}

/*##############################################*/

.full_width_cont
{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.form_cont
{
	margin: auto;
	padding: 30px;
	width: 50vw;
	text-align: center;
}
@media only screen and (max-width: 900px)
{
	.form_cont
	{
		width: 65vw;
	}
}
@media only screen and (max-width: 900px)
{
	.form_cont
	{
		width: 100vw;
	}
}
.form_cont img
{
	width: 25vw;
}
.form_cont h1
{
	font-family: 'Roboto', sans-serif;
	color: #A1A1A1;
	letter-spacing: 1.5px;
	font-weight: bold;
}
.form_cont h1 span
{
	color: #6c63ff;
}
.form_cont .txt-sml
{
	margin: auto;
	display: block;
	height: 45px;
	width: 50%;
	margin-top: 30px;
	padding: 10px 20px 10px 30px;
	border-radius: 20px;
	border:0px;
	font-weight: bold;
	background-color: #EBEBEB;
	transition: all 200ms;
}
.form_cont .txt-sml:focus, .form_cont .txt-sml:hover
{
	outline: none;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.form_cont input[type=checkbox]
{
	margin-top: 20px;
}
.form_cont label
{
	margin-left: 20px;
	color:#6B6B6B;
}
.form_cont .btn-sml
{
	margin: auto;
	display: block;
	height: 45px;
	padding: 10px;
	font-weight: bold;
	color: white;
	margin-top: 20px;
	border:0px;
	border-radius: 3px;
	width: 40%;
	letter-spacing: 1.5px;
	background-color: #464452;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
/*##########################################*/
.top_navbar
{
	height:50px;
	width: 100%;
	display: table;
	padding:8px 50px 5px 50px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3); 
	background-color: white;
	z-index: 1;
}
.navbar-content
{
	display: table-cell;
	vertical-align: middle;
	height: 50px;
}
.right
{
	float: right;
}
.top_navbar .menu_list
{
	list-style: none;
	color:#707070;
	font-weight: bold;
	letter-spacing: 1.5px;
}
.top_navbar .menu_list img
{
	height: 30px;
	margin-left: 20px;
}
.navbar_left
{
	height: 100%;
	top: 0px;
	z-index: 2;
	color: white;
	box-shadow: 1px 0px 5px rgba(0,0,0,0.3);
	background:linear-gradient(to bottom,#464452,#1A191E);
	position: fixed;
}
.header
{
	font-size: 18px;
	letter-spacing:3px;
	font-family: 'Pacifico', cursive;
	padding: 10px 30px 10px 20px;
}
.header .icon
{
	height: 40px;
	width: 40px;
	background-color:#DA2C38;
	border-radius: 50%;
	text-align: center;
	padding-top: 10px;
	display: inline-block;
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	margin-right: 20px;
}
.navbar_left .menu_list
{
	list-style: none;
	margin: 0px;
	padding:0px;
	margin-top: 30px;
}
.navbar_left .menu_list li a
{
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.navbar_left .menu_list li a:hover, .navbar_left .menu_list li a:focus 
{
	color: white;
	text-decoration: none;
}
.navbar_left .menu_list li
{
	display: block;
	padding:5px;
	padding-right: 30px;
	padding-left: 35px;
	cursor: pointer;
	font-size: 15px;
	letter-spacing: 1.5px;
	transition: all 200ms;
}
.navbar_left .menu_list li i
{
	margin-right: 30px;
}
.navbar_left .menu_list li:hover
{
	background-color: rgba(0,0,0,0.2);
}
.navbar_left .menu_list .active
{
	background-color: rgba(0,0,0,0.2);
}